<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/img/weather.png" class="change">
  <script src="./js/app.js"></script>
</head>
<body>
  <div class="main-content">
    {{>header}}
    <h1>{{messege}}</h1>
  </div>

  {{>footer}}

</body>
</html>