<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/img/weather.png" class="change">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>
      This site was created by Abhishek Kumar. It uses data from mapbox.com!
    </p>
    <img id="portrait" src="./img/dp.png" alt="">
  </div>

  {{>footer}}

</body>

</html>